img {
    margin: 25px;
    display: flex;
    min-width: 300px;
}

p {
    display: flex;
}

.description {
    margin-left: 20px;
    padding: 5px;
}

.details-view {
    display: flex;
}

.details-of-movie {
    display: flex;
    width: 70%;
    flex-wrap: wrap;
}

body!important {
    background: linear - gradient(90deg, rgba(0, 0, 0, 1) 10 %, rgba(53, 82, 80, 1) 25 %, rgba(104, 147, 158, 1) 38 %, rgba(62, 184, 222, 1) 50 %, rgba(104, 147, 158, 1) 62 %, rgba(53, 82, 80, 1) 75 %, rgba(0, 0, 0, 1) 90 %)
}